
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

body {
  max-width: 800px;
  margin: auto;
  font-size: larger;
}

.viewer {
  display: block;
  height: 50svh;
  width: 800px;
  margin: auto;
}

h1 {
  position: fixed;
}

.blue {
  background-color: cornflowerblue;
}
.green {
  background-color: lightseagreen;
}
